@mixin decorated() {
  --bar-height: 30px;
  --bar-color: #dedede;
  --bar-radius: calc(var(--bar-height) / 6);
  --knob-color-left: #fd615e;
  --knob-color-middle: #fec042;
  --knob-color-right: #30ca4a;
  --knob-size: calc(var(--bar-height) / 2.5);
  --knob-offset: calc((var(--bar-height) - var(--knob-size)) / 2);
  --bg-color: #1e1e1e;

  background: var(--bg-color);
  border: 0 !important;
  border-top: var(--bar-height) solid var(--bar-color) !important;
  border-top-left-radius: var(--bar-radius);
  border-top-right-radius: var(--bar-radius);
  position: relative;

  &:before {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right,
      var(--knob-color-left) 33%,
      var(--knob-color-middle) 33%,
      var(--knob-color-middle) 67%,
      var(--knob-color-right) 67%
    );
    color: transparent;
    content: '⚫⚫⚫';
    position: absolute;
    font-size: var(--knob-size);
    line-height: var(--bar-height);
    letter-spacing: .3em;
    top: calc(var(--bar-height) * -.98);
    left: var(--knob-offset);
  }
}
