@import '../../styles/global';

:host,
typescript-editor-component {
  display: block;
  margin: 30px auto;
  width: 600px;
}

.editor,
.log {
  display: block;
  width: 600px;
}

.editor {
  --editor-lines: 10;

  @include decorated();
  border: 1px solid grey;
  position: relative;
  text-align: left;
  height: calc(var(--editor-lines) * 20px);
}

.log {
  margin-top: 30px;
}

.code {
  display: none;
}
