//::-webkit-scrollbar {
//  width: 7px;
//  background-color: red;
//}
//
//::-webkit-scrollbar-thumb {
//  border-radius: 4px;
//  background-color: white;
//  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
//}

.editor-wrapper {
  display: flex;

  div.editor {
    width: 60%;
    height: 100%;
    min-height: 400px;
    border: 1px solid grey;
    padding-right: 5px;
  }

  div.log {
    width: 40%;
    //height: 100%;
    min-height: 337px;
    max-height: 357px;
    background-color: black;
    background-image: radial-gradient(
        rgba(0, 150, 0, 0.75), black 120%
    );
    margin: 0;
    overflow: scroll;
    padding: 2rem;
    color: white;
    font: 1.2rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: repeating-linear-gradient(
          0deg,
          rgba(black, 0.15),
          rgba(black, 0.15) 1px,
          transparent 1px,
          transparent 2px
      );
      pointer-events: none;
    }

    ::selection {
      background: #0080ff;
      text-shadow: none;
    }

    pre {
      margin: 0;
    }
  }

  .clear-button {
    position: absolute;
    bottom: 0;

  }
}

slot {
  display: none;
}
