@import '../../styles/global';

.editor {

  --editor-lines: 10;

  @include decorated();
  border: 1px solid grey;
  position: relative;
  text-align: left;
  display: inline-block;
  height: calc(var(--editor-lines) * 20px);
  width: 600px;
  margin-bottom: 30px;
}

.code {
  display: none;
}
